{% extends "graph/base.html" %}
{% block content %}

    <!-- Graph -->

    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <h2><a class="article-title">Graph</a></h2>
        </div>
            <p class="article-content">...</p>
        </div>
    </article>

    <!-- User Input -->

    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <h2><a class="article-title">Add Data</a></h2>
        </div>
            <p class="article-content">...</p>
        </div>
    </article>

{% endblock content %}